:root {
  /* Default settings poore page ke liye */
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;

  /* Background ko dark gray aur text ko white kiya */
  background-color: #212529;
  /* Dark Gray */
  color: #ffffff;
  /* White */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* Thoda sa gap taaki text bilkul screen se na chipke */
}

#root {
  width: 100%;
  max-width: 1126px;

  text-align: left;

}

/* Headings ka rang bhi automatic white ya light hi rahega */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin-top: 0;
}